<div class="container">

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cập nhật sản phẩm</h4>

      <!-- Multi Columns Form -->
      <form class="row g-3" (ngSubmit)="updateProduct()">
        <div class="col-md-6">
          <label for="name" class="form-label">Tên sản phẩm<span style="color: red;"> (*)</span></label>
          <input type="text" id="name" [(ngModel)]="updatedProduct.name" name="name" class="form-control" required>
        </div>
        <div class="col-md-6">
          <label for="price" class="form-label">Giá<span style="color: red;"> (*)</span></label>
          <input type="text" id="price" [(ngModel)]="updatedProduct.price" name="price" class="form-control col-md-3"
            required>
        </div>
        <div class="col-md-12">
          <label for="description" class="form-label">Nội dung<span style="color: red;"> (*)</span></label>
          <textarea id="description" [(ngModel)]="updatedProduct.description" name="description" class="form-control"
            required></textarea>
        </div>
        
        <div class="row mb-3">
          <div class="thumbnail-container">
            @for(productImage of product.product_images;
            track productImage.image_url; let i = $index) {
            <div class="thumbnail-item" [ngClass]="{'active': i === currentImageIndex}" (click)="thumbnailClick(i)">
              <img [src]="productImage.image_url" class="thumbnail-image" alt="Thumbnail Image">
              <button type="button" class="btn btn-sm remove-image" (click)="deleteImage(productImage)">
                <i class="fa fa-times-circle text-danger"></i>
              </button>
            </div>
            } @empty {
            <h2>No images found</h2>
            }
          </div>
        </div>
        <div class="col-md-6">
          <label for="date-of-birth" class="form-label">Thể loại<span style="color: red;"> (*)</span></label>
          <select id="category" [(ngModel)]="updatedProduct.category_id" name="category"  class="form-control" required>
            @for(category of categories; track category.id) {
            <option [value]="category.id">{{ category.name }}
            </option>
            }
          </select>
        </div>
        <div class="col-6">
          <label for="address" class="form-label">Chọn ảnh (Tối đa 3 ảnh)</label>
          <input type="file" id="images" class="form-control" name="images" multiple (change)="onFileChange($event)" accept="image/*">
        </div>

        <div class="" style="text-align: right;">
          <button style="margin-right: 10px;" type="submit" class="btn btn-primary">Sửa</button>
          <button type="reset" class="btn btn-secondary" routerLink="/admin/products">Quay lại</button>
        </div>
      </form><!-- End Multi Columns Form -->

    </div>
  </div>
</div>