
  <div>
    <!-- Form cập nhật thông tin sản phẩm -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3>Update Product</h3>
          <form (ngSubmit)="updateUser()">
            <div class="form-group">
              <label for="fullname">Họ và tên:</label>
              <input type="text" id="fullname" [(ngModel)]="updateUserData.fullname" name="fullname" class="form-control" required>
            </div>

            <div class="form-group mb-3">
              <label for="phoneNumber">Điện thoại</label>
              <input type="text" id="phoneNumber" [(ngModel)]="updateUserData.phone_number"
                     name="phoneNumber" class="form-control col-md-3" required>
            </div>

            <div class="form-group mb-3">
              <label for="address">Địa chỉ</label>
              <input type="text" id="address" [(ngModel)]="updateUserData.address"
                     name="address" class="form-control col-md-3" required>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input type="text" id="email" [(ngModel)]="updateUserData.email"
                     name="email" class="form-control col-md-3" required>
            </div>
            <div class="form-group mb-3">
              <label for="date_of_birth">Ngày sinh</label>
              <input id="date_of_birth" type="date" [(ngModel)]="updateUserData.date_of_birth" name="date_of_birth" class="form-control" required>
            </div>


            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
      </div>
    </div>
  </div>

