
<app-header></app-header>

<section id="hero">
  <div class="hero-container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/images/slide5.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Augustine luôn đồng hành cùng bạn</h5>
            <p style="font-size: 35px;">Mỗi loại nước hoa đều mang đến cho bạn một câu chuyện mới</p>
            <a routerLink="/product-list" class="btn-get-started scrollto animate__animated animate__fadeInUp">Xem ngay</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/images/slide6.jpeg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Augustine luôn đồng hành cùng bạn</h5>
            <p style="font-size: 35px;">Một loại nước hoa tuyệt vời sẽ mang đến một tâm trạng tuyệt vời</p>
            <a routerLink="/product-list" class="btn-get-started scrollto animate__animated animate__fadeInUp">Xem ngay</a>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/images/slide7.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Augustine luôn đồng hành cùng bạn</h5>
            <p style="font-size: 35px;"> Hương thơm đồng hành cùng bạn để bước vào thế giới lý tưởng</p>
            <a routerLink="/product-list" class="btn-get-started scrollto animate__animated animate__fadeInUp">Xem ngay</a>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<!-- ABOUT -->

<!-- ======= About Section ======= -->
<!-- ======= About List Section ======= -->
<section id="about-list" class="about-list">
  <div class="container">
    <div class="row mt-5">
      <div class="about-title col-lg-6 order-2 order-lg-1 ">
        <div class="icon-box mt-5 mt-lg-0">
          <h3><strong>VỀ CHÚNG TÔI</strong></h3>
          <h5>Giới Thiệu Augustine.vn Cửa Hàng Nước Hoa Uy Tín</h5>
        </div>
        <div class="icon-box pt-5 mt-5 mt-lg-0 pe-3">
          <i class="fa-regular fa-star"></i>
          <h4>Khách hàng</h4>
          <p>Chúng tôi luôn đặt tiêu chí hài lòng của khách hàng nên hàng đầu đưa ra cho khách hành những sản phẩm tốt nhất</p>
        </div>
        <div class="icon-box mt-5 pe-3">
          <i class="fa-regular fa-star"></i>
          <h4>Sản phẩm</h4>
          <p>Những sản phẩm của chúng tôi được nhập khẩu trực tiếp từ Mỹ nên được đảm bảo tuyệt đối về chất lượng</p>
        </div>
        <div class="icon-box mt-5 pe-3">
          <i class="fa-regular fa-star"></i>
          <h4>Kinh nghiệm</h4>
          <p>Đã có nhiều năm trong lĩnh vực nước hoa nhập khẩu </p>
        </div>
        <div class="icon-box mt-5 pe-3">
          <i class="fa-regular fa-star"></i>
          <h4>Đạt được</h4>
          <p>Chúng tôi được các nước khác trong khu vực đông nam á đặt hàng với số lượng lớn</p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2 rounded-5" style='background-image: url("./assets/images/about1.jpg");'></div>
    </div>

  </div>
</section><!-- End About List Section -->


<!-- ======= Features Section ======= -->
<section id="features" class=" text-center">
  <div class="container-fuild features-content mt-5" >
    <div class="container py-3 " >
      <div class=" section-title text-center text-light">
        <h3 ><strong>Thương hiệu chính</strong> </h3>
        <p class="separator">Chúng tôi đặt tiêu chí sản phẩm lên hàng đầu</p>
      </div>
      <div class="row" >
        <div class="col-md-6  col-lg-3">
          <div class="feature-block rounded-3">
            <img src="./assets/imgs/brand/logo_channel.png" style="width: 150px; height: 100px;" alt="...">
            <!-- <i class="fa-solid fa-phone-volume"></i> -->
            <!-- <h5>Tư vấn online</h5> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block rounded-3">
            <img src="./assets/imgs/brand/logo_gucci.png" style="width: 150px; height: 100px;" alt="...">
            <!-- <i class="fa-solid fa-car-side"></i>
            <h5>Freeship toàn quốc</h5> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block rounded-3">
            <img src="./assets/imgs/brand/logo_dior.png" style="width: 150px; height: 100px;" alt="...">
            <!-- <i class="fa-solid fa-gifts"></i>
            <h5>Dịch vụ tặng quà</h5> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="feature-block rounded-3">
            <img src="./assets/imgs/brand/logo_calvin.png" style="width: 150px; height: 100px;" alt="...">
            <!-- <i class="fa-solid fa-arrow-right-arrow-left"></i>
            <h5>Đổi trả miễn phí</h5> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Features Section -->
<!-- GALLERY -->
<section id="gallery" class="gallery">
  <div class="container mt-5">
    <div class="row">
      <div class="section-title  d-flex justify-content-between col-lg-12 mb-2" >
        <h2 class="text-start">Sản phẩm</h2>
        <p class="text-end" routerLink="/product-list"><a>Xem tất cả</a> <i style="margin-left: 5px;" class="fa-solid fa-arrow-right"></i></p>
      </div>
    </div>
    <div class="row" >
      <div class="col-sm-4 col-md-3 px-1 py-2" *ngFor="let product of products">
        <div class="gallery-item text-center" (click)="onProductClick(product.id)">
          <div class="gallery-product rounded px-2 py-2">
            <a  class="gallery-lightbox   ">
              <img  [src]="product.url" class="img-fluid">
              <div class="gallery-title  ">

                <a class="title-header" >{{ product.name }}</a>
                <a class="title-price">{{ product.price | number:'1.0-0'}}</a>
              </div>
              <span class="gallery-icon-heart">
										<i class="icon-heart fa-regular fa-heart "></i>
              </span>
              <span class="gallery-icon-cart">
										<i class="icon-cart fa-regular fa-square-plus"></i>
              </span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<div class="d-flex justify-content-center mt-2">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link"  (click)="onPageChange(1)">First</a>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <a class="page-link"  (click)="onPageChange(currentPage - 1)">Previous</a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{'active': page === currentPage}">
          <a class="page-link"  (click)="onPageChange(page)">{{ page }}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link"  (click)="onPageChange(currentPage + 1)">Next</a>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <a class="page-link"  (click)="onPageChange(totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>

<!-- NEW -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="padd-sectio">
  <div class="container-fuild mt-5 py-5 bg-light" >
    <div class="container " >
      <div class="section-title text-center">
        <h2>Tin tức</h2>
        <p class="separator">Những tin tức nổi bật dành cho mọi người </p>
      </div>
      <div class="row"  data-aos-delay="100">
        <div class="col-md-6 col-lg-4" *ngFor="let article of articles">
          <div class="block-blog text-left" (click)="onArticleClick(article.id)">
            <a><img [src]="article.url" alt="img" style="height: 357px;"></a>
            <div class="content-blog">
              <h4 ><a style="font-weight: 600;" >{{article.title}}</a></h4>
              <span>{{article.created_at}}</span>
              <a (click)="onArticleClick(article.id)" class="float-end readmore" >Đọc tiếp</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-2">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link"  (click)="onPageChangeArticle(1)">First</a>
        </li>
        <li class="page-item" *ngIf="currentPage > 1">
          <a class="page-link"  (click)="onPageChangeArticle(currentPage - 1)">Previous</a>
        </li>
        <ng-container *ngFor="let page of visiblePages">
          <li class="page-item" [ngClass]="{'active': page === currentPage}">
            <a class="page-link"  (click)="onPageChangeArticle(page)">{{ page }}</a>
          </li>
        </ng-container>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link"  (click)="onPageChangeArticle(currentPage + 1)">Next</a>
        </li>
        <li class="page-item" *ngIf="currentPage < totalPages">
          <a class="page-link"  (click)="onPageChangeArticle(totalPages)">Last</a>
        </li>
      </ul>
    </nav>
  </div>
</section><!-- End Blog Section -->
<!-- CONTACT -->
<section id="contact" class="contact ">
  <!-- <div class="container  mt-4">
    <div class="section-title text-center">
      <h2>Liên hệ</h2>
    </div>
  </div> -->
  
    <!-- <div class="info-wrap mt-5">
      <div class="row">
        <div class="col-lg-4 info">
          <i class="fa-solid fa-location-dot"></i>
          <h4>Location:</h4>
          <p>Đường 419<br>Bình Phú, Thạch Thất, Hà Nội</p>
        </div>
        <div class="col-lg-4 info mt-4 mt-lg-0">
          <i class="fa-regular fa-envelope"></i>
          <h4>Email:</h4>
          <p>augustinegmail.com<br>augustine98gmail.com</p>
        </div>
        <div class="col-lg-4 info mt-4 mt-lg-0">
          <i class="fa-solid fa-phone-volume"></i>
          <h4>Call:</h4>
          <p>+84 123456789<br>+64 123456789</p>
        </div>
      </div>
    </div> -->

    <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
      <div class="row">
        <div class="col-md-6 form-group">
          <input type="text" name="name" class="form-control" id="name" placeholder="Tên của bạn" required>
        </div>
        <div class="col-md-6 form-group mt-3 mt-md-0">
          <input type="email" class="form-control" name="email" id="email" placeholder="Email của bạn" required>
        </div>
      </div>
      <div class="form-group mt-3">
        <input type="text" class="form-control" name="subject" id="subject" placeholder="Mô tả" required>
      </div>
      <div class="form-group mt-3">
        <textarea class="form-control" name="message" rows="5" placeholder="Lời nhắn" required></textarea>
      </div>
      <div class="text-center"><button href="#" style="background: #d63384;" type="submit">Gửi liên hệ</button></div>
    </form> -->
    <app-contact></app-contact>
  
</section><!-- End Contact Section -->

<app-footer></app-footer>
