<div>
  <!-- Form cập nhật thông tin sản phẩm -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Cập nhật mã giảm giá</h3>
        <form (ngSubmit)="updateCouponCondition()">
          <div class="form-group">
            <label for="attribute">Thông tin:</label>
            <input type="text" id="attribute" [(ngModel)]="updateCouponConditionData.attribute" name="attribute"
              class="form-control" required>
          </div>

          <div class="form-group mb-3">
            <label for="operator">Thao tác:</label>
            <input type="text" id="operator" [(ngModel)]="updateCouponConditionData.operator" name="operator"
              class="form-control col-md-3" required>
          </div>
          <div class="form-group mb-3">
            <label for="value">Giá trị:</label>
            <input type="text" id="value" [(ngModel)]="updateCouponConditionData.value" name="value"
              class="form-control col-md-3" required>
          </div>
          <div class="form-group mb-3">
            <label for="discountAmount">Giảm giá:</label>
            <input type="text" id="discountAmount" [(ngModel)]="updateCouponConditionData.discountAmount"
              name="discountAmount" class="form-control col-md-3" required>
          </div>
          <button type="submit" class="btn btn-primary">Cập nhật</button>
        </form>
      </div>
    </div>
  </div>
</div>