/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap');
/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: 'Mulish', sans-serif;
  --font-secondary: "Poppins", sans-serif;
}
/* Colors */
:root {
  --color-default: #0a0d13;
  --color-primary: #d63384;
  --color-secondary: #0d42ff;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}
